@charset "UTF-8";
/* Pretendard Font Family 정의 */
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
/*======================================*/
/* ROOT */
/*======================================*/
:root {
	/* 기본 색상 */
	--white: #FFFFFF;
	--black: #000000;
	/* 시스템 컬러 */
	--color-primary: #1428A0;
	--color-secondary: #4B506A;
	--color-success: #4B830D;
	--color-warning: #FFB546;
	--color-error: #D93B30;
	/* 배경색 */
	--color-bg: #FFFFFF;
	--color-bg-alt: #F6F7FC;
	/* 텍스트 색상 */
	--text-default: #181A1B;
	--text-light: #66707A;
	--text-disabled: #A8B3BD;
	--text-inverse: #FFFFFF;
	--text-primary: var(--color-primary);
	--text-success: var(--color-success);
	--text-warning: var(--color-warning);
	--text-error: var(--color-error);
	/* 테두리 */
	--color-border: #A8B3BD;
	--color-border-light: #DCE0E5;
	--color-border-lighter: #F3F5F6;
	--color-border-inverse: #FFFFFF;
	/* radius (테두리 둥글기) */
	--border-radius: 0.375rem;
	--border-radius-sm: 0.25rem;
	--border-radius-lg: 0.5rem;
}

/* 헤더 */
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 46px;
	background-color: var(--white);
	border-bottom: 1px solid var(--color-border-lighter);
	padding: 4px 8px;
	gap: 3px;
}
.header > * {
	flex: 0 0 auto;
}
.header .btn {
	flex: 0 auto;
	display: inline-block;
	min-width: 36px;
	height: 36px;
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: center center;
	padding: 8px;
	font-size: 0px;
	text-indent: -9999px;
}
.header .btn.prev {
	background-image: url(../images/icon/ic-prev_line.svg);
}
.header .btn.end {
	background-image: url(../images/icon/ic-close_line.svg);
}
.header .btn.search {
	background-image: url(../images/icon/ic-search.svg);
}
.header .btn.hamburger {
	background-image: url(../images/icon/ic-hamburger.svg);
}

.header__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	gap: 4px;
}
.header__content .header-tit {
	flex: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	font-size: 1em;
	font-weight: 700;
	color: var(--text-primary);
	text-align: center;
	word-break: break-all;
}
.header__content .header-txt {
	font-size: 1em;
	font-weight: 700;
	color: var(--text-default);
}

.header__controls {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin-left: auto;
}

/* nav */
.nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--white);
	z-index: 1000;
	transform: translateX(-100%);
	opacity: 0;
	transition: transform 0.6s ease, opacity 0.6s ease;
}
.nav.is-open {
	transform: translateX(0);
	opacity: 1;
}
.nav .header__content {
	padding-right: 39px;
}
.nav .container {
	padding: 0 0 1.5em 0;
}

.nav__list {
	width: 100%;
	border-top: 1px solid var(--color-border-lighter);
	border-bottom: 2px solid var(--color-border-lighter);
}

.nav__label {
	font-size: 1em;
	word-break: break-all;
}

.nav__icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 2px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center center;
}
.nav__icon.arrow {
	background-image: url(../images/icon/ic-next_line.svg);
}

/* 1depth */
.nav__item li {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	gap: 0.5rem;
}

/* 2depth */
.nav__item li li {
	font-weight: 400;
	font-size: 0.875em;
	padding: 0.375rem 0 0.375rem 0.375rem;
}

.nav__item li li:first-child {
	padding-top: 0;
}

.nav__item li li:last-child {
	padding-bottom: 0;
}

/* 3depth */
.nav__item li li li {
	font-size: 0.9375em;
	color: #555555;
}

/*======================================*/
/* footer - 공통기능, 플로팅 */
.footer {
	height: auto;
	background-color: var(--white);
	border-top: 1px solid var(--color-border-lighter);
}
.footer .btn > .label,
.footer .btn > .custom_text,
.footer .btn > .text-special {
	font-size: 0.813em;
	line-height: 105%;
	font-weight: 400;
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.footerNav {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	/* 푸터 이미지 */
	/* 수어상담 */ /* 채팅상담 */
	/* .viewSmall::before {
		--btn-icon: url(../images/ic_viewSmall_n.svg);
	}
	.viewSmall::before {
		--btn-icon: url(../images/ic_viewSmall_n.svg);
	} */
}
.footerNav > li {
	flex: 1;
	display: block;
	min-width: 1.625em;
}
.footerNav > li .btn {
	--bg-color: #434343;
	--border-color: #434343;
	--btn-active-color: #232323;
	--btn-disabled-color: #7E7E7E;
	--btn-icon: url(../images/ic_chat_counsel01_n.svg);
	font-size: 1em;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0;
	padding: 0.25rem 0.65rem;
	gap: 0.2em;
}
.footerNav .btn::before {
	flex-shrink: 0;
	display: inline-block;
	content: "";
	width: 1.25em;
	height: 1.25em;
	background-image: var(--btn-icon);
	background-repeat: no-repeat;
	background-position: 0;
	background-size: 100%;
}
.footerNav .home::before { /* 처음으로 */
	--btn-icon: url(../images/ic_home_n.svg);
}
.footerNav .back::before { /* 이전 */
	--btn-icon: url(../images/ic_back_n.svg);
}
.footerNav .repeat::before { /* 다시 듣기 */
	--btn-icon: url(../images/ic_refresh_n.svg);
}
.footerNav .counselor::before { /* 상담사 연결 */
	--btn-icon: url(../images/ic_counsel_n.svg);
}
.footerNav .end::before { /* 종료 */
	--btn-icon: url(../images/ic_end_n.svg);
}
.footerNav .viewLarge::before { /* 크게 보기 */
	--btn-icon: url(../images/ic_viewLarge_n.svg);
}
.footerNav .viewSmall::before { /* 작게 보기 */
	--btn-icon: url(../images/ic_viewSmall_n.svg);
}

.title-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0.5em 1em;
	border-bottom: 1px solid var(--color-primary);
}
.title-wrap.title {
	background-color: var(--color-primary);
}
.title-wrap.title .title-wrap__text {
	color: var(--white);
	font-weight: bold;
}
.title-wrap.guide .title-wrap__text {
	color: var(--text-secondary);
}

.title-wrap__text {
	font-size: 1em;
	color: var(--text-secondary);
	line-height: 1.5;
}

/* 3*X 정렬 .three--by */
.three--by .menu__list li {
	flex: 1 33.33333%;
	min-width: 33.33333%;
	max-width: 33.33333%;
}

/* 2*X 정렬 .two--by */
.two--by .menu__list li {
	flex: 1 50%;
	max-width: 50%;
}
.two--by .menu__list li .menu__button {
	flex-wrap: wrap;
}

/* 1*X 정렬 .one--by */
.one--by .menu__list li {
	flex: 1 100%;
	max-width: 100%;
}
.one--by .menu__list li .menu__label {
	flex: 1;
	text-align: left;
}

/* 메뉴 */
.menu {
	position: relative;
	width: 100%;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
}

.menu__item {
	--menu-bd-color: var(--color-border-light);
	--menu-bd-radius: var(--border-radius);
	--menu-bg-color: var(--white);
	flex: 1;
	padding: 0.313rem;
}

.menu__button {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0.625rem 0.5rem;
	gap: 0.5rem;
}
.menu__button::before {
	content: "";
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	background-image: var(--dx-icon-image, none);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	padding-bottom: 0.25rem;
}

.menu__button--img::before {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
	content: none !important;
}

.menu__icon {
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	object-fit: contain;
}

.menu__label {
	display: block;
	text-align: center;
	font-size: 0.875rem;
	font-family: "Pretendard", sans-serif;
	font-weight: 400;
	word-break: break-all;
}

/* 추천메뉴 */
.recommend .menu__list {
	flex-wrap: nowrap;
	overflow-x: auto;
}
.recommend .menu__item {
	border-right: 1px solid var(--menu-bd-color);
}
.recommend .menu__item:last-child {
	border: none;
}
.recommend .menu__button {
	flex-direction: column;
	gap: 0.25rem;
}
.recommend .menu__button::before {
	width: 1.5rem;
	height: 1.5rem;
}
.recommend .menu__icon {
	width: 1.5rem;
	height: 1.5rem;
}
.recommend .menu__label {
	font-size: 0.782em;
}
.recommend .menu__button[style*="--dx-icon-image: null"]::before,
.recommend .menu__button[style*="--dx-icon-image: none"]::before,
.recommend .menu__button[style*='--dx-icon-image: ""']::before,
.recommend .menu__button[style*="--dx-icon-image: ''"]::before {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
}

/* 메인메뉴 */
.main .menu__button {
	flex-direction: column;
	border: 1px solid var(--menu-bd-color);
	border-radius: var(--menu-bd-radius);
	background-color: var(--menu-bg-color);
	box-shadow: 0 0.25rem 0.25rem rgba(168, 179, 189, 0.25);
}
.main .menu__button::before {
	width: 2.5rem;
	height: 2.5rem;
}
.main .menu__icon {
	width: 2.5rem;
	height: 2.5rem;
}
.main .menu__label {
	font-size: 0.938em;
}
.main .menu__button[style*="--dx-icon-image: null"]::before,
.main .menu__button[style*="--dx-icon-image: none"]::before,
.main .menu__button[style*='--dx-icon-image: ""']::before,
.main .menu__button[style*="--dx-icon-image: ''"]::before {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
}

/* 서브메뉴 */
.sub .menu__button {
	border: 1px solid var(--menu-bd-color);
	border-radius: var(--menu-bd-radius);
	background-color: var(--menu-bg-color);
	box-shadow: 0 0.25rem 0.25rem rgba(168, 179, 189, 0.25);
}
.sub .menu__button::before {
	width: 1.5rem;
	height: 1.5rem;
}
.sub .menu__icon {
	width: 1.5rem;
	height: 1.5rem;
}
.sub .menu__button[style*="--dx-icon-image: null"]::before,
.sub .menu__button[style*="--dx-icon-image: none"]::before,
.sub .menu__button[style*='--dx-icon-image: ""']::before,
.sub .menu__button[style*="--dx-icon-image: ''"]::before {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
	margin: 0 !important;
}

button, .btn {
	--text-color: #66707A;
	--bg-color: #F3F5F6;
	--border-color: #F3F5F6;
	--btn-active-color: #DCE0E5;
	--btn-disabled-color: #F9FAFB;
	color: var(--text-color);
	background-color: var(--bg-color);
	border-color: var(--border-color);
	border-radius: 0.25em;
	padding: 1em 0.5em;
	gap: 0.5em;
	/* 상태값 */
}
button:hover, button:active, button.is-active, .btn:hover, .btn:active, .btn.is-active {
	background-color: var(--btn-active-color);
	border-color: var(--btn-active-color);
}
button:disabled, button[aria-disabled=true], button.is-disabled, .btn:disabled, .btn[aria-disabled=true], .btn.is-disabled {
	background-color: var(--btn-disabled-color);
	border-color: var(--btn-disabled-color);
	cursor: not-allowed;
	pointer-events: none;
}
button:disabled > *, button[aria-disabled=true] > *, button.is-disabled > *, .btn:disabled > *, .btn[aria-disabled=true] > *, .btn.is-disabled > * {
	opacity: 0.6;
}
button:focus, .btn:focus {
	outline: none;
}
button:focus-visible, .btn:focus-visible {
	outline: 2px solid var(--black);
}
button.line, .btn.line {
	--bg-color: var(--white);
	--border-color: #DCE0E5;
	--btn-active-color: #DCE0E5;
	--btn-disabled-color: var(--white);
}
button.line:disabled, button.line[aria-disabled=true], button.line.is-disabled, .btn.line:disabled, .btn.line[aria-disabled=true], .btn.line.is-disabled {
	border-color: var(--border-color);
}
button.round, .btn.round {
	border-radius: 9999px;
}
button.btn--sm, .btn.btn--sm {
	padding: 0.5em 0.75em;
	font-size: 0.75em;
}

.btn--primary {
	--text-color: var(--text-inverse);
	--bg-color: var(--color-primary);
	--border-color: var(--color-primary);
	--btn-active-color: #4472FF;
	--btn-disabled-color: #0D1A63;
}
.btn--primary.line {
	--text-color: var(--color-primary);
	--border-color: var(--color-primary);
}
.btn--primary.line:hover, .btn--primary.line:active, .btn--primary.line.is-active {
	border-color: var(--color-primary);
}
.btn--primary.line:disabled, .btn--primary.line[aria-disabled=true], .btn--primary.line.disabled {
	border-color: var(--color-primary);
}

.btn--secondary {
	--text-color: var(--text-inverse);
	--bg-color: var(--color-secondary);
	--border-color: var(--color-secondary);
	--btn-active-color: #61657C;
	--btn-disabled-color: #B7B9C3;
}
.btn--secondary.line {
	--text-color: var(--color-secondary);
	--border-color: var(--color-secondary);
}
.btn--secondary.line:hover, .btn--secondary.line:active, .btn--secondary.line.is-active {
	border-color: var(--color-secondary);
}
.btn--secondary.line:disabled, .btn--secondary.line[aria-disabled=true], .btn--secondary.line.is-disabled {
	border-color: var(--color-secondary);
}

/* input */
.input-control {
	display: flex;
	flex-direction: column;
}

.input__field {
	--border-color: var(--color-border-light);
	display: flex;
	align-items: center;
	border-bottom: 2px solid var(--border-color);
	gap: 8px;
}
.input__field:has(.input:focus, .is-focused) {
	border-color: var(--color-primary);
}
.input__field:has(.input:read-only:focus, .is-readonly:focus) {
	border-color: var(--color-border-light);
}
.input__field:has(.is-disabled:focus) {
	border-color: var(--color-border-light);
}
.input__field:has(.is-success) {
	border-color: var(--color-success);
}
.input__field:has(.is-success) + .valid__msg {
	display: block;
	color: var(--color-success);
}
.input__field:has(.is-error) {
	border-color: var(--color-error);
}
.input__field:has(.is-error) + .valid__msg {
	display: block;
	color: var(--color-error);
}
.input__field .btn {
	min-width: 36px;
	height: 36px;
	background-color: transparent;
	border: none;
	background-size: 28px 28px;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 8px;
}
.input__field .btn.clear {
	display: none;
	min-width: 28px;
	height: 28px;
	background-size: 20px 20px;
	background-image: url(../images/icon/ic-close_circle_filled.svg);
}
.input__field .btn.search {
	background-image: url(../images/icon/ic-search.svg);
}

.input {
	--text-color: var(--text-default);
	--bg-color: var(--color-bg);
	display: block;
	width: 100%;
	font-size: 1em;
	line-height: 1.4;
	color: var(--text-color);
	border: none;
	background-color: var(--bg-color);
	caret-color: var(--color-primary);
	padding: 10px 0;
}
.input::placeholder {
	color: var(--text-disabled);
}
.input:disabled, .input.is-disabled {
	color: var(--text-disabled);
}
.input:read-only, .input.is-readonly, .input:read-only:focus {
	color: var(--text-disabled);
}
.input:not(:placeholder-shown) + .clear {
	display: inline-block;
}

.valid__msg {
	display: none;
	font-size: 12px;
	color: #66707A;
	padding-top: 8px;
}

label.checkbox,
.checkbox {
	--border-color: #A8B3BD;
	--pink01: #FF64C0;
	--pink02: #C12883;
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
	position: relative;
	font-size: 16px;
}

.checkbox__input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	accent-color: transparent;
	position: absolute;
	opacity: 0;
}

.checkbox__icon {
	width: 1em;
	height: 1em;
	background-color: transparent;
	border: 1px solid var(--border-color);
	position: relative;
}
.checkbox__icon::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0;
}

.checkbox__label,
.checkbox__label-wrap {
	font-size: 1em;
	color: var(--black);
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
}

/* 체크됨 */
.checkbox__input:checked ~ .checkbox__icon::before,
.checkbox__input:checked + .checkbox__label-wrap .checkbox__icon::before {
	opacity: 1;
	background-image: url("../../images/icon/ic-chckbox-checked.svg");
	background-color: var(--pink01);
}

.checkbox__input:checked ~ .checkbox__label,
.checkbox__input:checked + .checkbox__label-wrap .checkbox__label {
	color: var(--pink02);
}

/* 포커스 */
.checkbox__input:focus-visible ~ .checkbox__icon,
.checkbox__input:focus-visible + .checkbox__label-wrap .checkbox__icon {
	outline: 2px solid var(--pink02);
}

/* 비활성화 */
.checkbox__input:disabled ~ .checkbox__icon,
.checkbox__input:disabled + .checkbox__label-wrap .checkbox__icon,
.checkbox__input:disabled ~ .checkbox__label,
.checkbox__input:disabled + .checkbox__label-wrap .checkbox__label {
	opacity: 0.3;
	cursor: not-allowed;
}

/* hover */
.checkbox__icon:hover {
	border-color: var(--pink01);
}

.radio,
label.radio {
	--checked: #FF64C0;
	font-size: 16px;
	position: relative;
}

.radio__input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	accent-color: transparent;
	position: absolute;
	opacity: 0;
}

.radio__label-wrap,
label.radio {
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
}

.radio__icon {
	width: 22px;
	height: 22px;
	background-image: url(../images/icon/common_icon.svg);
	background-position: -120px 0;
	background-size: 500px;
	background-repeat: no-repeat;
}

.radio__label {
	font-size: 1em;
	color: var(--black);
}

.radio__input:checked ~ .radio__icon,
.radio__input:checked + .radio__label-wrap .radio__icon {
	background-position: -120px -22px;
}

.radio__input:checked ~ .radio__label,
.radio__input:checked + .radio__label-wrap .radio__label {
	color: var(--checked);
}

.radio__input:disabled ~ .radio__icon,
.radio__input:disabled + .radio__label-wrap .radio__icon {
	background-position: -120px -44px;
}

.radio__input:disabled:checked ~ .radio__icon,
.radio__input:disabled:checked + .radio__label-wrap .radio__icon {
	background-position: -120 66px;
}

.radio__input:disabled ~ .radio__label,
.radio__input:disabled + .radio__label-wrap .radio__label {
	opacity: 0.3;
	color: var(--checked);
	cursor: not-allowed;
}

.radio__icon:hover {
	filter: brightness(1.1);
}

/* 슬라이드 swiper  */
@media screen and (min-width: 480px) {
	.sec_event {
		padding: var(--dx-section-pad-y) calc(var(--dx-section-pad-x) + 0.313rem);
	}
}
.swiper-wrapper {
	margin: 0 auto;
}

@media screen and (min-width: 992px) {
	.swiper:not(.benner-swiper2) {
		max-width: 90vw;
	}
	.swiper:not(.benner-swiper2) .swiper-wrapper {
		justify-content: center;
	}
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-control {
	--swiper-theme-color: var(--dwp-main);
	--swiper-pagination-fraction-color: var(--dwp-white);
	--swiper-navigation-size: 1rem;
	--swiper-navigation-color: var(--dwp-white);
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
	height: 8.25vw;
	min-height: 1.5rem;
	max-height: 1.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(var(--dwp-dark-rgb), 0.75);
	border-radius: 3rem;
	box-sizing: border-box;
	padding: 0 0.65rem;
	z-index: 11;
	gap: 0.5rem;
}

@media screen and (min-width: 992px) {
	.swiper:not(.benner-swiper2) .swiper-control {
		display: none;
	}
}
.slide--control {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.25rem;
}

.slide--control .swiper-button-next,
.slide--control .swiper-button-prev {
	position: static;
	margin-top: 0;
	width: 100%;
	height: 100%;
	padding: 0.4rem;
	font-weight: 700;
}

.slide--control .icon {
	width: 1.5rem;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
}

.slide--control .icon::before {
	display: inline-block;
	font-family: doFont218;
	text-transform: none !important;
	text-align: center;
	font-size: 1rem;
	color: var(--dwp-white);
}

/* pagination */
.swiper-pagination {
	--swiper-pagination-fraction-color: var(--dwp-white);
	--swiper-pagination-bullet-inactive-color: var(--dwp-white);
	--swiper-pagination-bullet-inactive-opacity: 1;
	position: unset;
	text-align: left;
	font-size: 0.813rem;
	padding: 0.5rem;
}

.swiper-pagination > * {
	color: var(--swiper-pagination-fraction-color);
}

/* nav btn*/
.custom-fraction {
	text-align: right;
	margin: 15px 5px 0 0;
}

.swiper-button::before {
	content: "\ea1d";
}

.auto-start::before {
	content: "\ea1c";
}

.benner-swiper {
	margin: 0 auto;
}

@media screen and (min-width: 360px) {
	.benner-swiper2.swiper {
		max-width: 360px;
	}
}
.inform-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 1em;
	gap: 0.5rem;
}
.inform-wrap .img-wrap {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
.inform-wrap.is-success .img-wrap {
	background-image: url("../images/icon/ic-success_circle.svg");
}
.inform-wrap.is-error .img-wrap {
	background-image: url("../images/icon/ic-error_circle.svg");
}
.inform-wrap.is-warning .img-wrap {
	background-image: url("../images/icon/ic-warning_circle.svg");
}
.inform-wrap.no-icon .img-wrap {
	display: none;
}

.inform__heading {
	font-size: 1.5em;
	font-weight: bold;
	color: var(--text-default);
}

.inform__text {
	font-size: 1em;
	color: var(--text-light);
}

/* popup : 일반(alert) */
.popup {
	display: none;
	position: fixed;
	inset: 0;
	z-index: 1000;
}
.popup.is-open {
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fade-in 0.3s ease forwards;
}
.popup.is-close {
	animation: fade-out 0.3s ease forwards;
}

.popup__backdrop {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	animation: fade-in 0.3s ease forwards;
}

.popup__container {
	position: relative;
	background: var(--color-bg);
	max-width: 90%;
	max-height: 90%;
	border-radius: 0.5em;
	box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	overflow: auto;
	outline: none;
}

.popup__header,
.popup__footer {
	padding: 1em;
	background-color: var(--white);
}

.popup__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popup__header .btn {
	flex: 0 auto;
	display: inline-block;
	min-width: 36px;
	height: 36px;
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: center center;
	background-image: url(../images/icon/ic-close_line.svg);
	padding: 8px;
	font-size: 0px;
	text-indent: -9999px;
}

.popup__title {
	margin: 0;
	font-size: 1.25em;
}

.popup__body {
	padding: 1em;
	overflow-y: auto;
	word-break: break-word;
	flex: 1 1 auto;
}

/* popup : full */
.popup--full .popup__container {
	max-width: none;
	max-height: none;
	width: 100%;
	height: 100%;
	border-radius: 0;
}

/* popup : bottom sheet */
.popup--bottom.is-open {
	align-items: flex-end;
}
.popup--bottom .popup__container {
	max-width: none;
	width: 100%;
	border-radius: 1em 1em 0 0;
	animation: slide-up 0.3s ease forwards;
}