
<!DOCTYPE html>
<html lang="ko">
<head>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Page Title & Description -->
	<title>주식회사 큐브7 | 회사소개</title>
	<meta name="description" content="큐브7 회사소개 페이지입니다.">
	<!-- [ REQUIRED ] Favicon -->
	<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
	<!-- [ OPTIONAL ] Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">

	<!-- [ OPTIONAL ] Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="주식회사 큐브7 | 회사소개">
	<meta property="og:description" content="큐브7 회사소개 페이지입니다.">
	<meta property="og:image" content="https://www.qube7.co.kr/images/og/ogimage.png">
	<meta property="og:url" content="https://www.qube7.co.kr/about">

	<!-- [ OPTIONAL ] Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="주식회사 큐브7 | 회사소개">
	<meta name="twitter:description" content="큐브7 회사소개 페이지입니다.">
	<meta name="twitter:image" content="https://www.qube7.co.kr/images/og/ogimage.png">


	<!-- STYLESHEETS -->
	<!-- [ REQUIRED ] q7 -->
	<link rel="stylesheet" href="../static/vendors/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header class="header navbar sticky-top">
		<nav class="header__inner">
			<!-- Brand -->
			<div class="header__brand">
				<!-- Brand logo -->
				<a href="index.html" target="_self">
					<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
				</a>
				<!-- Brand title -->
				<p class="visually-hidden">주식회사 큐브7</p>
			</div>
			<div class="header__content">
				<!-- Navigation Toggler -->
				<button class="ic-btn navbar-toggler" type="button" aria-label="Navigation Toggler">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 36 33" fill="none">
						<rect width="36" height="5" fill="#444444"/>
						<rect y="14" width="36" height="5" fill="#444444"/>
						<rect y="28" width="36" height="5" fill="#444444"/>
					</svg>
					<span class="visually-hidden">전체 메뉴</span>
				</button>
				<!-- Navigation -->
				<div class="offcanvas" tabindex="-1" id="mainNavbar" aria-label="Main Navigation">					
					<div class="offcanvas-body">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="about.html" target="_self">회사소개</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >비즈니스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="business-cs.html" target="_self">고객 맞춤 CS 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-operation.html" target="_self">비즈니스 운영 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-o4o.html" target="_self">O4O 채널 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-mycar.html" target="_self">All-In-One MYCar 솔루션</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >서비스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="services-platform.html" target="_self">QR 커뮤니케이션 플랫폼</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="services-app.html" target="_self">QR 커뮤니케이션 App</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="culture.html" rel="noopener" target="_self">문화</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html" rel="noopener" target="_self">문의하기</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main>
	<div class="section bg-img about">
		<div class="section-block column">
			<div class="text-wrap column">
				<h3 class="section__title section__title--lg">
					한 주의 일상적 가치를 스캔하다.
				</h3>
				<p class="section__text section__text--lg">
					‘Scan the Week’s Daily Values’
				</p>
				<p class="section__text">
					우리는 QR 커뮤니케이션의 선구자로서, 뛰어난 기술력과 다양한 경험의 노하우를 담아낸 서비스인<br>
					글로벌 QR 커뮤니케이션 플랫폼을 제공하여 “일상 속 커뮤니케이션의 가치”를 제공합니다.
				</p>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<h3 class="section__title">
					최초의 연결을<br>
					시작하다.
				</h3>
				<p class="section__text">
					Qube7 법인 설립 이후 국내 최초의 QR<br>
					커뮤니케이션 App 서비스 ‘QRcall’ 을<br>
					런칭하며 연결의 시작을 알렸습니다.
				</p>
			</div>
			<div class="text-wrap column column-start">
				<h3 class="section__text section__text--lg">
					2024
				</h3>
				<p class="section__text">
					<span>10</span>QR 커뮤니케이션 APP ‘QRcall’ 런칭
				</p>
				<p class="section__text">
					<span>03</span>최초의 연결, ‘Qube7’ 설립
				</p>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<h3 class="section__title">
					연결을 통해 성장하는 당신의 비즈니스
				</h3>
			</div>
			<!-- slide -->
			<!-- /slide -->
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<h3 class="section__title">
					오시는 길
				</h3>
				<p class="section__text">
					서울특별시 송파구 송이로 96, 2층(가락동, 디오티스빌딩)
				</p>
			</div>
			<!-- slide -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.4419117166617!2d127.1183274764035!3d37.497494228083404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca5f97de8eedb%3A0xc75043730e8a633!2z65SU7Jik7Yuw7Iqk67mM65Sp!5e0!3m2!1sko!2skr!4v1756192367871!5m2!1sko!2skr" width="100%" height="575" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			<!-- /slide -->
		</div>
	</div>
</main>

<footer class="footer">

	<div class="footer__inner"> 
		
		<div class="footer__brand">
			<a href="index.html" target="_self">
				<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
			</a>
		</div>
		<div class="footer__content">
			<p class="footer__company">(주) 큐브7</p>
			<address class="footer__addr">
				<span class="footer__line">사업자등록번호 : <b>796-86-03081</b></span>
				<span class="footer__line">주소 : 서울특별시 송파구 송이로 96, 2층(가락동, 디오티스 빌딩)</span>
			</address>
			<p class="footer__copy">Qube7 INC. All rights reserved</p>
		</div>
	</div>
	
</footer>

	
	<script src="../static/vendors/swiper/swiper-bundle.min.js"></script>
	<script src="../static/js/main.js"></script>
	
</body>
</html>
