
<!DOCTYPE html>
<html lang="ko">
<head>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Page Title & Description -->
	<title>주식회사 큐브7 | 회사소개</title>
	<meta name="description" content="큐브7 회사소개 페이지입니다.">
	<!-- [ REQUIRED ] Favicon -->
	<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
	<!-- [ OPTIONAL ] Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">

	<!-- [ OPTIONAL ] Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="주식회사 큐브7 | 회사소개">
	<meta property="og:description" content="큐브7 회사소개 페이지입니다.">
	<meta property="og:image" content="https://www.qube7.co.kr/images/og/ogimage.png">
	<meta property="og:url" content="https://www.qube7.co.kr/about">

	<!-- [ OPTIONAL ] Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="주식회사 큐브7 | 회사소개">
	<meta name="twitter:description" content="큐브7 회사소개 페이지입니다.">
	<meta name="twitter:image" content="https://www.qube7.co.kr/images/og/ogimage.png">


	<!-- STYLESHEETS -->
	<!-- [ REQUIRED ] q7 -->
	<link rel="stylesheet" href="../static/vendors/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header class="header navbar sticky-top">
		<nav class="header__inner">
			<!-- Brand -->
			<div class="header__brand">
				<!-- Brand logo -->
				<a href="index.html" target="_self">
					<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
				</a>
				<!-- Brand title -->
				<p class="visually-hidden">주식회사 큐브7</p>
			</div>
			<div class="header__content">
				<!-- Navigation Toggler -->
				<button class="ic-btn navbar-toggler" type="button" aria-label="Navigation Toggler">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 36 33" fill="none">
						<rect width="36" height="5" fill="#444444"/>
						<rect y="14" width="36" height="5" fill="#444444"/>
						<rect y="28" width="36" height="5" fill="#444444"/>
					</svg>
					<span class="visually-hidden">전체 메뉴</span>
				</button>
				<!-- Navigation -->
				<div class="offcanvas" tabindex="-1" id="mainNavbar" aria-label="Main Navigation">					
					<div class="offcanvas-body">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="about.html" target="_self">회사소개</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >비즈니스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="business-cs.html" target="_self">고객 맞춤 CS 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-operation.html" target="_self">비즈니스 운영 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-o4o.html" target="_self">O4O 채널 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-mycar.html" target="_self">All-In-One MYCar 솔루션</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >서비스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="services-platform.html" target="_self">QR 커뮤니케이션 플랫폼</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="services-app.html" target="_self">QR 커뮤니케이션 App</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="culture.html" rel="noopener" target="_self">문화</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html" rel="noopener" target="_self">문의하기</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main>
	<div class="section">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<h3 class="section__title section__title--lg">
					온라인과 오프라인을 연결하는<br>
					O4O 채널 솔루션
				</h3>
				<p class="section__text text--gray">
					온·오프라인 모든 공간에서 고객에게만 집중 할 수 있도록<br>
					간편한 O4O 채널 솔루션을 제공합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" src="../static/images/business/o4o/business-o4o01.png" alt="">
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#접근성</span></div>
				<h3 class="section__title">
					전용 QR 코드와 Custom URL로<br>
					더 간편한 고객 접근
				</h3>
				<p class="section__text text--gray">
					전용 QR 코드와 기억하기 쉬운 Custom URL을 통해<br>
					복잡한 과정 없이, 간단하게 고객을 유입 시킬 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" src="/images/business/o4o/business-o4o02.png" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-alt">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#차별화</span></div>
				<h3 class="section__title">
					음성 안내로 시작되는<br>
					새로운 고객 경험
				</h3>
				<p class="section__text text--gray">
					서비스 페이지 진입 시 재생되는 음성 안내로<br>
					고객에게 차별화된 경험을 제공 할 수 있습니다.
				</p>
			</div>
			<div class="row">
				<div class="image-wrap">
					<img class="img" src="../static/images/business/o4o/business-o4o03.png" alt="">
				</div>
				<div class="image-wrap">
					<img class="img" src="/images/business/o4o/business-o4o04.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#브랜드 경험</span></div>
				<h3 class="section__title">
					서비스 페이지 하나로 완성하는<br>
					차별화된 브랜드 경험
				</h3>
				<p class="section__text text--gray">
					브랜드의 톤앤매너가 반영된 서비스 페이지와 Custom URL을 통해<br>
					강화된 브랜드 경험을 제공할 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" src="../static/images/business/o4o/business-o4o05.png" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-alt">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#개인화 마케팅</span></div>
				<h3 class="section__title">
					고객 데이터 수집을 통한<br>
					개인화 마케팅
				</h3>
				<p class="section__text text--gray">
					서비스 페이지 방문·행동 데이터를 활용한<br>
					고객 맞춤형 개인화 마케팅을 실행 할 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" src="/images/business/o4o/business-o4o06.png" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-tint">
		<div class="section-block column">
			<div class="text-wrap">
				<h3 class="section__title">
					<span class="text--primary">O4O 채널 솔루션으로 연결</span>하는<br>
					온라인과 오프라인의 경험
				</h3>
			</div>
		</div>
	</div>
</main>

<footer class="footer">

	<div class="footer__inner"> 
		
		<div class="footer__brand">
			<a href="index.html" target="_self">
				<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
			</a>
		</div>
		<div class="footer__content">
			<p class="footer__company">(주) 큐브7</p>
			<address class="footer__addr">
				<span class="footer__line">사업자등록번호 : <b>796-86-03081</b></span>
				<span class="footer__line">주소 : 서울특별시 송파구 송이로 96, 2층(가락동, 디오티스 빌딩)</span>
			</address>
			<p class="footer__copy">Qube7 INC. All rights reserved</p>
		</div>
	</div>
	
</footer>

	
	<script src="../static/vendors/swiper/swiper-bundle.min.js"></script>
	<script src="../static/js/main.js"></script>
	
</body>
</html>
