
<!DOCTYPE html>
<html lang="ko">
<head>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Page Title & Description -->
	<title>주식회사 큐브7 | 회사소개</title>
	<meta name="description" content="큐브7 회사소개 페이지입니다.">
	<!-- [ REQUIRED ] Favicon -->
	<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
	<!-- [ OPTIONAL ] Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">

	<!-- [ OPTIONAL ] Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="주식회사 큐브7 | 회사소개">
	<meta property="og:description" content="큐브7 회사소개 페이지입니다.">
	<meta property="og:image" content="https://www.qube7.co.kr/images/og/ogimage.png">
	<meta property="og:url" content="https://www.qube7.co.kr/about">

	<!-- [ OPTIONAL ] Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="주식회사 큐브7 | 회사소개">
	<meta name="twitter:description" content="큐브7 회사소개 페이지입니다.">
	<meta name="twitter:image" content="https://www.qube7.co.kr/images/og/ogimage.png">


	<!-- STYLESHEETS -->
	<!-- [ REQUIRED ] q7 -->
	<link rel="stylesheet" href="../static/vendors/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header class="header navbar sticky-top">
		<nav class="header__inner">
			<!-- Brand -->
			<div class="header__brand">
				<!-- Brand logo -->
				<a href="index.html" target="_self">
					<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
				</a>
				<!-- Brand title -->
				<p class="visually-hidden">주식회사 큐브7</p>
			</div>
			<div class="header__content">
				<!-- Navigation Toggler -->
				<button class="ic-btn navbar-toggler" type="button" aria-label="Navigation Toggler">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 36 33" fill="none">
						<rect width="36" height="5" fill="#444444"/>
						<rect y="14" width="36" height="5" fill="#444444"/>
						<rect y="28" width="36" height="5" fill="#444444"/>
					</svg>
					<span class="visually-hidden">전체 메뉴</span>
				</button>
				<!-- Navigation -->
				<div class="offcanvas" tabindex="-1" id="mainNavbar" aria-label="Main Navigation">					
					<div class="offcanvas-body">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="about.html" target="_self">회사소개</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >비즈니스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="business-cs.html" target="_self">고객 맞춤 CS 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-operation.html" target="_self">비즈니스 운영 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-o4o.html" target="_self">O4O 채널 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-mycar.html" target="_self">All-In-One MYCar 솔루션</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >서비스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="services-platform.html" target="_self">QR 커뮤니케이션 플랫폼</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="services-app.html" target="_self">QR 커뮤니케이션 App</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="culture.html" rel="noopener" target="_self">문화</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html" rel="noopener" target="_self">문의하기</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main>
	<div class="section">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<h3 class="section__title section__title--lg">
					노코드로 손쉽게 비즈니스를<br>
					운영하고 고객과 연결하세요
				</h3>
				<p class="section__text text--gray">
					노코드로 쉽게 만드는 페이지와 다양한 연결 기능을 통해, 간편하게<br>
					비즈니스를 운영하는 비즈니스 운영 도메인 솔루션을 제공합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" src="../static/images/business/operation/business-operation01.png" alt="">
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#노코드 제작</span></div>
				<h3 class="section__title">
					코딩 없이 노코드로 제작하는<br>
					기업 전용 서비스 페이지
				</h3>
				<p class="section__text text--gray">
					코딩 없이 빠르게 제작하는 기업 전용 서비스 페이지로<br>
					빠르게 고객 접점을 만들고 서비스를 운영 할 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" src="/images/business/operation/business-operation02.png" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-alt">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#고객 접근성</span></div>
				<h3 class="section__title">
					다양한 연결 기능으로<br>
					고객 접근성 확대
				</h3>
				<p class="section__text text--gray">
					다양한 연결 기능으로 고객 커뮤니케이션 채널을 다양화하고<br>
					더 많은 고객과 쉬운 커뮤니케이션이 가능합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" src="../static/images/business/operation/business-operation03.png" alt="">
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#데이터 기반 운영</span></div>
				<h3 class="section__title">
					데이터를 활용한<br>
					고객 맞춤 비즈니스 운영
				</h3>
				<p class="section__text text--gray">
					고객이 등록한 정보와 서비스 페이지에서 발생하는 데이터 기반의<br>
					비즈니스 운영으로 고객 맞춤 관리와 서비스 운영이 가능합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" src="/images/business/operation/business-operation04.png" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-tint">
		<div class="section-block column">
			<div class="text-wrap">
				<h3 class="section__title">
					<span class="text--primary">간편한 비즈니스 운영 솔루션</span>으로<br>
					빠르게 비즈니스를 성장시키세요!
				</h3>
			</div>
		</div>
	</div>
</main>

<footer class="footer">

	<div class="footer__inner"> 
		
		<div class="footer__brand">
			<a href="index.html" target="_self">
				<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
			</a>
		</div>
		<div class="footer__content">
			<p class="footer__company">(주) 큐브7</p>
			<address class="footer__addr">
				<span class="footer__line">사업자등록번호 : <b>796-86-03081</b></span>
				<span class="footer__line">주소 : 서울특별시 송파구 송이로 96, 2층(가락동, 디오티스 빌딩)</span>
			</address>
			<p class="footer__copy">Qube7 INC. All rights reserved</p>
		</div>
	</div>
	
</footer>

	
	<script src="../static/vendors/swiper/swiper-bundle.min.js"></script>
	<script src="../static/js/main.js"></script>
	
</body>
</html>
