
<!DOCTYPE html>
<html lang="ko">
<head>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Page Title & Description -->
	<title>주식회사 큐브7 | 회사소개</title>
	<meta name="description" content="큐브7 회사소개 페이지입니다.">
	<!-- [ REQUIRED ] Favicon -->
	<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
	<!-- [ OPTIONAL ] Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">

	<!-- [ OPTIONAL ] Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="주식회사 큐브7 | 회사소개">
	<meta property="og:description" content="큐브7 회사소개 페이지입니다.">
	<meta property="og:image" content="https://www.qube7.co.kr/images/og/ogimage.png">
	<meta property="og:url" content="https://www.qube7.co.kr/about">

	<!-- [ OPTIONAL ] Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="주식회사 큐브7 | 회사소개">
	<meta name="twitter:description" content="큐브7 회사소개 페이지입니다.">
	<meta name="twitter:image" content="https://www.qube7.co.kr/images/og/ogimage.png">


	<!-- STYLESHEETS -->
	<!-- [ REQUIRED ] q7 -->
	<link rel="stylesheet" href="../static/vendors/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header class="header navbar sticky-top">
		<nav class="header__inner">
			<!-- Brand -->
			<div class="header__brand">
				<!-- Brand logo -->
				<a href="index.html" target="_self">
					<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
				</a>
				<!-- Brand title -->
				<p class="visually-hidden">주식회사 큐브7</p>
			</div>
			<div class="header__content">
				<!-- Navigation Toggler -->
				<button class="ic-btn navbar-toggler" type="button" aria-label="Navigation Toggler">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 36 33" fill="none">
						<rect width="36" height="5" fill="#444444"/>
						<rect y="14" width="36" height="5" fill="#444444"/>
						<rect y="28" width="36" height="5" fill="#444444"/>
					</svg>
					<span class="visually-hidden">전체 메뉴</span>
				</button>
				<!-- Navigation -->
				<div class="offcanvas" tabindex="-1" id="mainNavbar" aria-label="Main Navigation">					
					<div class="offcanvas-body">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="about.html" target="_self">회사소개</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >비즈니스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="business-cs.html" target="_self">고객 맞춤 CS 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-operation.html" target="_self">비즈니스 운영 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-o4o.html" target="_self">O4O 채널 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-mycar.html" target="_self">All-In-One MYCar 솔루션</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >서비스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="services-platform.html" target="_self">QR 커뮤니케이션 플랫폼</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="services-app.html" target="_self">QR 커뮤니케이션 App</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="culture.html" rel="noopener" target="_self">문화</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html" rel="noopener" target="_self">문의하기</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main>
	<div class="section bg-img culture">
		<div class="section-block column">
			<div class="image-wrap">
				<img class="img logo" src="../static/images/culture_img01.png" alt="">
			</div>
			<div class="text-wrap column">
				<p class="section__text section__text--lg">
					일상의 가치를 연결하는 사람들
				</p>
				<p class="section__text">
					큐브7에는 일상의 가치를 연결하기 위해, 각자의 풍미를 가진 다양한 인재들이 모여있습니다.<br>
                    이렇게 모인 Q.Savors 들은 서로의 지식과 경험을 나누고,<br>
					이를 통해 일상의 가치를 연결하는 완전한 서비스를 만들어가고 있습니다.
				</p>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block">
			<div class="image-wrap">
				<img class="img" src="../static/images/culture_img02.png" alt="">
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="image-wrap">
					<img class="img logo" src="../static/images/culture_img03.png" alt="">
				</div>
				<h3 class="section__title">
					이런 풍미를 자랑하고 있어요
				</h3>
			</div>
			<div class="image-wrap">
				<img class="img" src="../static/images/culture_img04.png" alt="">
			</div>
		</div>
	</div>
</main>

<footer class="footer">

	<div class="footer__inner"> 
		
		<div class="footer__brand">
			<a href="index.html" target="_self">
				<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
			</a>
		</div>
		<div class="footer__content">
			<p class="footer__company">(주) 큐브7</p>
			<address class="footer__addr">
				<span class="footer__line">사업자등록번호 : <b>796-86-03081</b></span>
				<span class="footer__line">주소 : 서울특별시 송파구 송이로 96, 2층(가락동, 디오티스 빌딩)</span>
			</address>
			<p class="footer__copy">Qube7 INC. All rights reserved</p>
		</div>
	</div>
	
</footer>

	
	<script src="../static/vendors/swiper/swiper-bundle.min.js"></script>
	<script src="../static/js/main.js"></script>
	
</body>
</html>
