
<!DOCTYPE html>
<html lang="ko">
<head>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Page Title & Description -->
	<title>주식회사 큐브7 | 회사소개</title>
	<meta name="description" content="큐브7 회사소개 페이지입니다.">
	<!-- [ REQUIRED ] Favicon -->
	<link rel="icon" href="../static/favicon.ico" type="image/x-icon">
	<!-- [ OPTIONAL ] Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">

	<!-- [ OPTIONAL ] Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="주식회사 큐브7 | 회사소개">
	<meta property="og:description" content="큐브7 회사소개 페이지입니다.">
	<meta property="og:image" content="https://www.qube7.co.kr/images/og/ogimage.png">
	<meta property="og:url" content="https://www.qube7.co.kr/about">

	<!-- [ OPTIONAL ] Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="주식회사 큐브7 | 회사소개">
	<meta name="twitter:description" content="큐브7 회사소개 페이지입니다.">
	<meta name="twitter:image" content="https://www.qube7.co.kr/images/og/ogimage.png">


	<!-- STYLESHEETS -->
	<!-- [ REQUIRED ] q7 -->
	<link rel="stylesheet" href="../static/vendors/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header class="header navbar sticky-top">
		<nav class="header__inner">
			<!-- Brand -->
			<div class="header__brand">
				<!-- Brand logo -->
				<a href="index.html" target="_self">
					<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
				</a>
				<!-- Brand title -->
				<p class="visually-hidden">주식회사 큐브7</p>
			</div>
			<div class="header__content">
				<!-- Navigation Toggler -->
				<button class="ic-btn navbar-toggler" type="button" aria-label="Navigation Toggler">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 36 33" fill="none">
						<rect width="36" height="5" fill="#444444"/>
						<rect y="14" width="36" height="5" fill="#444444"/>
						<rect y="28" width="36" height="5" fill="#444444"/>
					</svg>
					<span class="visually-hidden">전체 메뉴</span>
				</button>
				<!-- Navigation -->
				<div class="offcanvas" tabindex="-1" id="mainNavbar" aria-label="Main Navigation">					
					<div class="offcanvas-body">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="about.html" target="_self">회사소개</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >비즈니스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="business-cs.html" target="_self">고객 맞춤 CS 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-operation.html" target="_self">비즈니스 운영 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-o4o.html" target="_self">O4O 채널 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"href="business-mycar.html" target="_self">All-In-One MYCar 솔루션</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >서비스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" href="services-platform.html" target="_self">QR 커뮤니케이션 플랫폼</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="services-app.html" target="_self">QR 커뮤니케이션 App</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="culture.html" rel="noopener" target="_self">문화</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html" rel="noopener" target="_self">문의하기</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main>
	<div class="section bg-grad-wy">
		<div class="section-block row">
			<div class="image-wrap">
				<img class="img logo" src="../static/images/service/app/service-app01.png" alt="">
			</div>
			<div class="image-wrap">
				<img class="img pc" src="../static/images/service/app/service-app02_pc.png" alt="">
				<img class="img mo" src="../static/images/service/app/service-app02_mo.png" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-grad-yy">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<div class="tag tag--ghost p-0"><span class="tag__text">전용 QR 코드</span></div>
				<h3 class="section__title">
					온라인과 오프라인을<br>
					연결하는 전용 QR 코드
				</h3>
				<p class="section__text">
					다양한 오프라인 제품과 온라인 콘텐츠를<br>
					전용 QR 코드로 간단하게 연결하세요.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img pc" src="../static/images/service/app/service-app03_pc.png" alt="">
				<img class="img mo" src="../static/images/service/app/service-app03_mo.png" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-grad-yg">
		<div class="section-block row row-reverse">
			<div class="text-wrap column column-end">
				<div class="tag tag--ghost p-0"><span class="tag__text">QR 스캔 화면</span></div>
				<h3 class="section__title">
					콘텐츠를 쉽게 연결하는<br>
					나만의 QR 스캔 화면
				</h3>
				<p class="section__text">
					다양한 템플릿과 간편한 커스텀 기능으로<br>
					콘텐츠를 연결하는 스캔 화면을 만드세요.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img pc" src="../static/images/service/app/service-app04_pc.png" alt="">
				<img class="img mo" src="../static/images/service/app/service-app04_mo.png" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-grad-gy">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<div class="tag tag--ghost p-0"><span class="tag__text">가치 연결</span></div>
				<h3 class="section__title">
					가치를 연결하는<br>
					다양한 연결 방법
				</h3>
				<p class="section__text">
					링크 연결, 통화와 메시지, 지도와 캘린더 등<br>
					다양한 방법으로 가치를 연결하세요.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img pc" src="../static/images/service/app/service-app05_pc.png" alt="">
				<img class="img mo" src="../static/images/service/app/service-app05_mo.png" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-yellow">
		<div class="section-block column">
			<div class="text-wrap column">
				<p class="section__text section__text--lg">
					QRcall을 통해 나의 가치를 연결하세요
				</p>
				<p class="section__text">
					가치 연결을 위한 모든 기능을 무료로 이용하세요
				</p>
			</div>
			<div class="row">
				<div class="image-wrap">
					<img class="img" src="../static/images/service/app/service-app06.png" alt="">
				</div>
				<div class="image-wrap">
					<img class="img" src="../static/images/service/app/service-app07.png" alt="">
				</div>
				<div class="image-wrap">
					<img class="img" src="../static/images/service/app/service-app08.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="section bg-yellow">
		<div class="section-block column">
			<div class="image-wrap">
				<img class="img logo" src="../static/images/service/app/service-app09.png" alt="">
			</div>
		</div>
		<div class="image-wrap image-wrap--overflow">
			<img class="img" src="../static/images/service/app/service-app10.png" alt="">
		</div>
	</div>
</main>

<footer class="footer">

	<div class="footer__inner"> 
		
		<div class="footer__brand">
			<a href="index.html" target="_self">
				<img src="../static/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
			</a>
		</div>
		<div class="footer__content">
			<p class="footer__company">(주) 큐브7</p>
			<address class="footer__addr">
				<span class="footer__line">사업자등록번호 : <b>796-86-03081</b></span>
				<span class="footer__line">주소 : 서울특별시 송파구 송이로 96, 2층(가락동, 디오티스 빌딩)</span>
			</address>
			<p class="footer__copy">Qube7 INC. All rights reserved</p>
		</div>
	</div>
	
</footer>

	
	<script src="../static/vendors/swiper/swiper-bundle.min.js"></script>
	<script src="../static/js/main.js"></script>
	
</body>
</html>
