<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="../../static/images/favicon.ico">
	<title>SAMSUNG SMART TOUCH CALL</title>
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../static/css/libs/swiper-10.2.0.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<!-- Scripts -->
	<script src="../static/js/libs/jquery-3.6.0.min.js"></script>
	<script src="../static//js/libs/swiper-10.2.0.min.js"></script>
	<script src="../static//js/common.js"></script>
</head>

<body>
	<div class="page-wrapper">
		<!-- header -->
		<header class="header">
			<button type="button" class="btn hamburger"><span>메뉴</span></button>
			<div class="header__content">
				<span class="header-tit">SMART TOUCH CALL</span>
			</div>
			<button type="button" class="btn search"><span>검색</span></button>
		</header>
		<!-- /header -->

		<!-- nav menu -->
		<nav class="nav"> <!-- open시 is-open class 추가 / close시 is-open class 삭제 -->
			<header class="header">
				<button type="button" class="btn end"><span>닫기</span></button>
				<div class="header__content">
					<span class="header-tit">SMART TOUCH CALL</span>
				</div>
			</header>

			<div class="container">
				<ul class="nav__list">
					<li class="nav__item"> 
						<ul>
							<li>
								<span class="nav__label">Remote Management</span>
								<span class="nav__icon arrow"></span>
							</li>
							<li>
								<span class="nav__label">Manuals and Downloads</span>
								<span class="nav__icon arrow"></span>
							</li>
							<li>
								<span class="nav__label">Tips and Tricks</span>
								<span class="nav__icon arrow"></span>
							</li>
							<li>
								<span class="nav__label">Warranty Terms</span>
								<span class="nav__icon arrow"></span>
							</li>
							<li>
								<span class="nav__label">Your Rights under ACL</span>
								<span class="nav__icon arrow"></span>
							</li>
							<li>
								<ul>
									<li>
										<span class="nav__label">Your Rights under ACL</span>
										<span class="nav__icon arrow"></span>
									</li>
									<li>
										<span class="nav__label">Your Rights under ACL</span>
										<span class="nav__icon arrow"></span>
									</li>
									<li>
										<span class="nav__label">Your Rights under ACL</span>
										<span class="nav__icon arrow"></span>
									</li>
									<li>
										<ul>
											<li>
												<span class="nav__label">Your Rights under ACL</span>
												<span class="nav__icon arrow"></span>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<!-- /nav menu -->
		
		<!-- container -->
		<div class="container">
			<!-- Swiper -->
			<div class="swiper benner-swiper" id="eventBenner">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="javascript:void(0)" title="서울시 수산물 방사능 검사 결과 확인">
							<img src="../static/images/bn01.png" alt="서울시 수산물 방사능 검사 결과 확인">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)" title="융자, 이자 지원받아 집수리 하세요">
							<img src="../static/images/bn02.png" alt="융자, 이자 지원받아 집수리 하세요">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="javascript:void(0)" title="40년 만에 달라진다! 보기 쉽게 바뀌는 지하철 노선도">
							<img src="../static/images/bn03.png" alt="40년 만에 달라진다! 보기 쉽게 바뀌는 지하철 노선도">
						</a>
					</div>
				</div>
				<div class="swiper-control">
					<div class="swiper-pagination"></div>
					<div class="slide--control">
						<div class="swiper-button-prev" role="button" aria-label="이전" tabindex="0"></div>
						<div class="swiper-button-next" role="button" aria-label="다음" tabindex="0"></div>
						
					</div>
				</div>
			</div>

			<div class="section-block">
				<div class="menu main two--by">
					<!-- 메뉴 -->
					<ul class="menu__list"> 
						<li class="menu__item">
							<a href="javascript:void(0)" class="menu__button" id="connect" title="Find a Service Centre" style="--dx-icon-image: url('../images/ss-find_a_service_centre.png');">
							<span class="menu__label">Find a Service Centre</span>
							</a>
						</li>
						<li class="menu__item">
							<a href="javascript:void(0)" class="menu__button" id="connect2" title="Register Your Product" style="--dx-icon-image: url('../images/ss-register_your_product.png');">
								<span class="menu__label">Register Your Product</span>
							</a>
						</li>
						<li class="menu__item">
							<a href="javascript:void(0)" class="menu__button" title="Book a Repair(Mobile)" style="--dx-icon-image: url('../images/ss-book_a_repair.png');">
								<span class="menu__label">Book a Repair(Mobile)</span>
							</a>
						</li>
						<li class="menu__item">
							<a href="javascript:void(0)" class="menu__button" title="추천메뉴4" style="--dx-icon-image: url('../images/ss-track_your_repair.png');">
								<span class="menu__label">Track Your Repair</span>
							</a>
						</li>
						<li class="menu__item">
							<a href="javascript:void(0)" class="menu__button" title="Visit the Online Shop" style="--dx-icon-image: url('../images/ss-visit_the_online_shop.png');">
								<span class="menu__label">Visit the Online Shop</span>
							</a>
						</li>
						<li class="menu__item">
							<a href="javascript:void(0)" class="menu__button" title="Mobile Diagnostics" style="--dx-icon-image: url('../images/ss-mobile_diagnostics.png');">
								<span class="menu__label">Mobile Diagnostics</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="section-block">
				<div class="input-control">
					<div class="input__field">
						<input type="text" id="search" class="input" placeholder="Galaxy Note 10">
						<button type="button" class="btn search" aria-label="검색"></button>
					</div>
				</div>
			</div>
			
			<div class="section-block">
				<p class="section-block__heading">Need Agent Support?</p>
				<div class="button-group row">
					<button class="btn btn--secondary round line" type="button">
						<span>EMAIL</span>
					</button>
					<button class="btn btn--secondary round line" type="button">
						<span>CHAT</span>
					</button>
					<button class="btn btn--secondary round line" type="button">
						<span>TALK</span>
					</button>
				</div>

			</div>
		</div>
		<!-- footer -->
		<footer class="footer">
			<ul class="footerNav">
				<!-- <li>
					<a href="javascript:void(0)" class="button home" title="처음"><span class="custom_text label">처음</span></a>
				</li> -->
				<li>
					<a href="javascript:void(0)" class="btn back is-disabled" title="이전"></a>
				</li>
				<li>
					<a href="javascript:void(0);" class="btn home" title="메인으로"></a>
				</li>
				<li>
					<a href="javascript:void(0);" class="btn end" title="종료"></a>
				</li>
			</ul>
		</footer>
	</div>
</body>
</html>
